/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  transition: all 0.4s;
}

header {
  background: #454545;
  color: white;
  padding: 1rem 2rem;
  align-items: center;
  transition: all 0.5s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-align: left;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

.nav-links a:hover {
  color: #007bff;
}

.hero {
  text-align: center;
  padding: 3rem 2rem;
  background: #eee;
  color: #111;
}

.hero .highlight {
  color: #007bff;
}

.about,
.projects,
.contact {
  padding: 2rem;
  text-align: center;
}

.contact a {
  color: #333;
  transition: 0.4s;
}

.contact a:hover {
  color: #110de5;
}

.projects .project-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.6s;
}

.project-card:hover {
  background: #d4d4d4;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #454545;
  color: #fff;
  transition: 0.4s;
}

/*Light Theme*/
.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #2a2a2a;
  border: white;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover {
  border-radius: 15px;
  background-color: #000;
}

/* Dark Theme */
body.dark .button {
  background: white;
  color: #333;
}

body.dark .button:hover {
  border-radius: 15px;
  background-color: #d4d4d4;
}

body.dark {
  background: #222;
  color: #f9f9f9;
}

body.dark header,
body.dark footer {
  background: #111;
}

body.dark .project-card {
  background: #333;
}

body.dark .contact a {
  color: #f9f9f9;
}

body.dark .contact a:hover {
  color: #8886ed;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
