:root{
  --light: white;
  --dark:#333;
  --highlight: #7b00ff;
  --lightFont:white;
  --darkFont:#333;
}

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Light Theme*/
body {
  font-family: monospace, serif;
  line-height: 1.6;
  background: lab(from var(--light) 97 a b);
  color: var(--darkFont);
  z-index: 1;
  transition: all 0.4s;
}

header {
  background: #454545;
  color: var(--light);
  padding: 1rem 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-align: left;
}

.nav-links {
  list-style: none;
  display: flex;
  text-align: center;
  gap: 1rem;
}

.nav-links a {
  color: var(--lightFont);
  text-decoration: none;
  transition: color 0.4s;
}

.nav-links a:hover {
  color:var(--highlight);
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: lab(from var(--light) 88 a b);
  color: var(--darkFont);
}

.hero .highlight {
  color: var(--highlight);
}

.about,
.projects,
.contactsection {
  padding: 5rem;
  text-align: center;
}

.about-block{
  background: lab(from var(--light) l a b);
  padding: 2rem 3rem;
  border-radius: 15px;
  width:fit-content;
  height: auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
}

.projects .project-list {
  display: flex;
  gap: 3rem 1rem;
  justify-content: center;
  flex-wrap: wrap;
  transition: color 1s;
}

.project-card{
  background: lab(from var(--light) l a b);
  font-family: monospace;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
}

.project-card:hover {
  background: lab(from var(--light) 90 a b);
  color: lab(from var(--highlight) l a b);
  padding: 1rem;
  border-radius: 15px;
  transform: translate(0px, -5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.6s;
}

.contactbutton {
  background: lab(from var(--light) l a b);
  font-family: monospace;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
}

.contactbutton:hover {
  background: lab(from var(--light) 90 a b);
  color: lab(from var(--highlight) l a b);
  border-radius: 15px;
  transform: translate(0px, -2px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #454545;
  color: var(--lightFont);
  transition: 0.4s;
}

.themebutton {
  display: inline-block;
  border-radius: 8px;
  background-color: #2a2a2a;
  border: none;
  color: var(--lightFont);
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease, transform 0.5s ease, box-shadow 0.3s ease,
    color 0.3s ease, border-radius 0.5s ease;
  align-items: center;
  justify-content: center;
}

.themebutton:hover {
  border-radius: 15px;
  background-color: lab(from var(--dark) -88 a b);
  transform: translateY(4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.themebutton:active {
  transform: translateY(-4px) scale(0.9);
  box-shadow: 0 2px 6px rgb(0, 0, 0);
}

/* Dark Theme*/
body.dark .themebutton {
  background: lab(from var(--lightFont) 80 a b);
  color: #333;
}

body.dark .themebutton:hover {
  border-radius: 15px;
  background-color: var(--light);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.25);
}

body.dark .themebutton:active {
  transform: translateY(4px) scale(0.9);
  box-shadow: 0 -2px 5px rgb(255, 255, 255);
}

body.dark {
  background: lab(from var(--dark) 12 a b);
  color: var(--lightFont);
}

body.dark header,
body.dark footer {
  background: #111;
}

body.dark .project-card,
body.dark .about-block,
body.dark .contactbutton {
  background: var(--dark);
  color: var(--lightFont);
}

body.dark .project-card:hover {
  box-shadow: 0 5px 20px lab(from var(--highlight) 40 a b);
  background-color: lab(from var(--dark) 25 a b);
}

body.dark .contactbutton:hover {
  color: lab(from var(--highlight) l a b);
  box-shadow: 0 5px 20px lab(from var(--highlight) 40 a b);
  background-color: lab(from var(--dark) 25 a b);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
